* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Common ========= */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.heading-1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.heading-2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.heading-3 {
    font-size: 2.2rem;
    line-height: normal;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 66px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
}

.btn:hover {
    color: var(--primary-color);
    background: #fff;
    border: 1px solid var(--primary-color);
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    --line-clamp: 2;
}

.line-clamp-3 {
    --line-clamp: 3;
}

.break-all {
    overflow-wrap: break-word;
}

/* ========= Header ========= */
.header {
    padding: 44px 0 0;
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    left: 0;
    z-index: 1;
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nav .navbar {
    display: flex;
    margin-left: auto;
}

.nav .navbar a {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav .navbar a::before,
.nav .action .sign-in-btn::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav .navbar li.active a,
.nav .navbar li:hover a,
.nav .action .sign-in-btn:hover {
    font-weight: 600;
}

.nav .action {
    display: flex;
    align-items: center;
    gap: 0 24px;
    margin-left: 157px;
}

.nav .action .sign-in-btn {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
}

.nav .sign-up-btn {
    min-width: 108px;
    line-height: 48px;
    font-size: 1.6rem;
    color: var(--primary-color);
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.nav .sign-up-btn:hover {
    opacity: 1;
    color: #fff;
    background-color: var(--primary-color);
}

/* ========= Hero ========= */
.hero {
    padding: 42px 0 79px;
}

.hero .hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .block-info {
    width: 39.1%;
}

.hero .block-info .heading {
    margin-top: 18px;
}

.hero .block-info .hero-desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .block-info .hero-desc .non-breaking {
    display: inline-block;
}

.hero .block-info .hero-cta {
    margin-top: 52px;
}

.hero .block-info .top-desc {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .block-info .hero-cta {
    display: flex;
    align-items: center;
}

.hero .block-info .hero-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 52px;
    width: 62px;
    height: 62px;
    border: none;
    color: var(--primary-color);
    background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-info .hero-watch:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.hero .block-img {
    position: relative;
    width: 49.2%;
}

.hero .block-img .hero-img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero .block-img .courses {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    padding: 0 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .book-icon {
    position: relative;
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 4px 2px 2px 4px;
}

.hero .block-img .book-icon::before {
    position: absolute;
    bottom: 8px;
    left: 4px;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    background: #ebebeb;
    border-radius: 4px;
}

.hero .block-img .block-img-desc {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .block-img .courses-desc {
    margin-left: 16px;
}

.hero .block-img .schedule {
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    text-align: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .rectangle-item {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .block-img .item-1 {
    position: relative;
    margin-top: 16px;
}

.hero .block-img .item-1::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-2 {
    position: relative;
    margin-top: 12px;
}

.hero .block-img .item-2::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 51px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-3 {
    position: relative;
    margin-top: 10px;
}

.hero .block-img .item-3::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 33px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-4 {
    margin: 16px 24px 0;
    width: 26px;
}

.hero .block-img .active {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .active-img {
    display: flex;
    margin-top: 8px;
}

.hero .block-img .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .block-img .avatar + .avatar {
    margin-left: -7px;
}

.hero .block-img .active-desc {
    line-height: 33px;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
}

/* ========= Features ========= */
.features {
    margin-top: 65px;
    padding: 65px 0;
    scroll-margin-top: 50px;
}

.features .features-info {
    width: 50.5%;
}

.features .features-info .title {
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features .features-info .features-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.features .features-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 87.5%;
}

.features .features-sections strong {
    margin-top: 26px;
    display: block;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .features-sections .item-desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
}
.features .features-item:nth-child(1) {
    width: 17%;
}

.features .features-item:nth-child(2) {
    width: 21.8%;
}

.features .features-item:nth-child(3) {
    width: 21.8%;
}

/* ========= Courses ========= */
.courses {
    padding: 65px 0;
}

.courses .courses-info .courses-title {
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .courses-info .row-top {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .courses-info .courses-desc {
    max-width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
}

.courses .courses-info .courses-link-info {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.courses .courses-info .courses-link-info:hover {
    text-decoration-line: underline;
}

.courses .courses-list {
    display: flex;
    gap: 47px;
    margin-top: 79px;
}

.courses .courses-list .courses-item {
    position: relative;
    width: calc(33.33% - 31.33px);
    height: 517px;
}

.courses .courses-item .item-zoom {
    position: relative;
    height: 393px;
    border-radius: 8px;
    overflow: hidden;
}

.courses .courses-item .courses-thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.courses .courses-item .item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #d0efed;
    opacity: 0.35;
}

.courses .courses-item .item-overlay:hover {
    opacity: 0;
    cursor: pointer;
}

.courses .courses-item .item-zoom:hover .courses-thumb {
    transform: scale(1.3);
}

.courses .courses-list .courses-item-info {
    position: absolute;
    bottom: 0px;
    left: 17px;
    width: 325px;
    padding: 18px 0 29px 25px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses .courses-list .courses-item-info a {
    color: #0d1111;
}

.courses .courses-item .courses-item-desc {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses .courses-item .courses-cost {
    display: inline-block;
    margin-top: 16px;
    font-size: 1.6rem;
}

.courses .courses-item .courses-cost strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .courses-item .item-info {
    margin-top: 6px;
}

.courses .courses-item .courses-stats {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

.courses .courses-item .item-qty,
.courses .courses-item .item-date {
    display: flex;
    align-items: center;
}

.courses .courses-item .item-qty::before,
.courses .courses-item .item-date::before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

/* ========= Stats ========= */
.stats {
    margin-top: 135px;
    padding: 65px 0;
}

.stats .stats-list {
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 0 154px;
}

.stats .stats-list .stats-item {
    text-align: center;
}

.stats .stats-list .stats-item:nth-child(1) {
    width: 17.2%;
}

.stats .stats-list .stats-item:nth-child(2) {
    width: 18.7%;
}

.stats .stats-list .stats-item:nth-child(3) {
    width: 17.8%;
}

.stats .stats-item strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stats .stats-item .stats-desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

/* ========= Feedback ========= */
.feedback {
    margin-top: 134px;
    padding: 65px 0;
    scroll-margin-top: 70px;
}

.feedback .feedback-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .feedback-content {
    width: 36%;
}

.feedback .feedback-content blockquote {
    margin-top: 27px;
    max-width: 420px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback .feedback-content span {
    display: flex;
    align-items: center;
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
}

.feedback .feedback-content span::before {
    display: inline-block;
    margin-right: 5px;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback .feedback-content strong {
    color: #070707;
    font-weight: 500;
}

.feedback .feedback-content .controls {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 52px;
}

.feedback .feedback-content .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: #fff;
}

.feedback .feedback-content .action:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.feedback .feedback-images {
    position: relative;
    width: 58%;
    height: 481px;
}

.feedback .feedback-images .avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.feedback .feedback-images .avatar:hover {
    cursor: pointer;
}

.feedback .feedback-images .avatar-1 {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback .feedback-images .avatar-2 {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .feedback-images .avatar-3 {
    top: -19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback .feedback-images .avatar-4 {
    bottom: 29px;
    right: 32px;
}

.feedback .feedback-images .avatar-5 {
    left: 212px;
    bottom: 0;
}

.feedback .feedback-images .avatar-6 {
    bottom: 145px;
    left: 0;
}

/* ========= Register ========= */
.register {
    margin-top: 65px;
    background: #def6f5;
    scroll-margin-top: 65px;
}

.register .register-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 154px 88px 0;
}

.register .register-body .register-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}
.register .register-body .register-btn {
    background: #2ac9bf;
}

.register .register-body .register-btn:hover {
    border: 1px solid #2ac9bf;
    color: #2ac9bf;
    background: #fff;
}

/* ========= Footer ========= */
.footer {
    margin-top: 65px;
    padding: 65px 0 50px;
}

.footer .row-top {
    display: flex;
}

.footer .row-top .column:nth-child(1) {
    width: 23.2%;
}

.footer .row-top .column:nth-child(2) {
    width: 20.1%;
}

.footer .row-top .column:nth-child(3) {
    width: 22%;
}

.footer .row-top .column:nth-child(4) {
    width: 25.1%;
}

.footer .row-top .column:nth-child(5) {
    width: 9.7%;
}

.footer .row-top .footer-title {
    color: #2e2e2e;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer .row-top .footer-list {
    margin-top: 26px;
}

.footer .row-top .footer-item:hover a {
    text-decoration: underline;
}

.footer .row-top .footer-item a {
    color: #535353;
    font-size: 1.6rem;
}

.footer .row-top .footer-item + .footer-item {
    margin-top: 18px;
}

.footer .row-top .list-social {
    margin-top: 18px;
}

.footer .row-top .footer-item-social {
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer .row-top .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
}
