* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Common ========= */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.heading-1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.heading-2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    --line-clamp: 2;
}

/* ========= Header ========= */
.header {
    padding: 44px 0 0;
    background: var(--primary-color);
}

.header.fixed {
    position: sticky;
    top: -44px;
    left: 0;
    z-index: 1;
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nav .navbar {
    display: flex;
    margin-left: auto;
}

.nav .navbar a {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav .navbar a::before,
.nav .action .sign-in-btn::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav .navbar li.active a,
.nav .navbar li:hover a,
.nav .action .sign-in-btn:hover {
    font-weight: 600;
}

.nav .action {
    display: flex;
    align-items: center;
    gap: 0 24px;
    margin-left: 157px;
}

.nav .action .sign-in-btn {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
}

.nav .sign-up-btn {
    min-width: 108px;
    line-height: 48px;
    font-size: 1.6rem;
    color: var(--primary-color);
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

/* ========= Hero ========= */
.hero {
    padding: 42px 0 79px;
}

.hero .hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .block-info {
    width: 39.1%;
}

.hero .block-info .heading {
    margin-top: 18px;
}

.hero .block-info .hero-desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .block-info .hero-cta {
    margin-top: 52px;
}

.hero .block-info .top-desc {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .block-info .hero-cta {
    display: flex;
    align-items: center;
}

.hero .block-info .hero-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 52px;
    width: 62px;
    height: 62px;
    border: none;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .block-img {
    position: relative;
    width: 49.2%;
}

.hero .block-img .hero-img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero .block-img .courses {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    padding: 0 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .book-icon {
    position: relative;
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 4px 2px 2px 4px;
}

.hero .block-img .book-icon::before {
    position: absolute;
    bottom: 8px;
    left: 4px;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    background: #ebebeb;
    border-radius: 4px;
}

.hero .block-img .block-img-desc {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .block-img .courses-desc {
    margin-left: 16px;
}

.hero .block-img .schedule {
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    text-align: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .rectangle-item {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .block-img .item-1 {
    position: relative;
    margin-top: 16px;
}

.hero .block-img .item-1::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-2 {
    position: relative;
    margin-top: 12px;
}

.hero .block-img .item-2::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 51px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-3 {
    position: relative;
    margin-top: 10px;
}

.hero .block-img .item-3::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 33px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .block-img .item-4 {
    margin: 16px 24px 0;
    width: 26px;
}

.hero .block-img .active {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .block-img .active-img {
    display: flex;
    margin-top: 8px;
}

.hero .block-img .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .block-img .avatar + .avatar {
    margin-left: -7px;
}

.hero .block-img .active-desc {
    line-height: 33px;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
}

/* ========= Features ========= */
.features {
    margin-top: 65px;
    padding: 65px 0;
    scroll-margin-top: 50px;
}

.features .features-info {
    width: 50.5%;
}

.features .features-info .title {
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features .features-info .features-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.features .features-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 87.5%;
}

.features .features-sections strong {
    margin-top: 26px;
    display: block;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .features-sections .item-desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
}
.features .features-item:nth-child(1) {
    width: 17%;
}

.features .features-item:nth-child(2) {
    width: 21.8%;
}

.features .features-item:nth-child(3) {
    width: 21.8%;
}
